@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #27d2c8;
  --color-secondary: #ee4f4f;
  --color-action: #7bb9fa;
  --color-black: #212121;
  --color-gray_light: #dddddd;
  --color-gray_dark: #a5a5a5;

  --space-s: 15px;
  --space-m: 25px;
  --space-l: 40px;

  --font_size-h1: 48px;
  --font_size-h2: 34px;
  --font_size-h3: 28px;
  --font_size-h4: 18px;
  --font_size-h5: 14px;
  --font_size-p: 14px;

  --font_weight-semibold: 700;
  --font_weight-regular: 400;

  --border-radius: 3px;
}

* {
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font_weight-semibold);
}

a,
p {
  font-weight: var(--font_weight-regular);
  font-size: var(--font_size-p);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: var(--font_weight-semibold);
}

button,
input {
  border-radius: var(--border-radius);
}

button {
  background-color: var(--color-primary);
  border: 1px var(--color-primary);
  color: var(--color-gray_light);
  padding: 10px 20px;
}

input {
  border: 1px var(--color-primary);
}
